# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# OneDrive temp files
~$*
